.Modal {
    position: fixed; 
    z-index: 100; 
    background-color: black; 
    width: 85vw;
    height: 50vh; 
    border: 1px solid blue;
    box-shadow: 5px 3px 10px rgba(0, 0, 255, 0.692); 
    padding: 16px; 
    left: 7.5%; 
    top: 10%; 
    box-sizing: border-box; 
    transition: all 0.5s ease-out;
}