.Todo {
  border: 1px solid blue;
  width: 80vw;
  max-height: 0;
  border-radius: 10px;
  margin: 6px 0;
  box-shadow: 1px 2px 3px #1329f0;
  transition: 0.2s ease-in;
  color: white;
  display: flex;
  flex-flow: column; 
  justify-content: center;
  transform: translateX(-200%);
  animation:
  openSpace 0.2s ease forwards, 
  moveIn 0.3s 0.2s ease forwards
}

@keyframes openSpace {
  to{
    max-height: 100px;
  }
}

@keyframes moveIn {
  to{
    opacity: 1; 
    transform: translateX(0)
  }
}

.TodoDone {
  border: 1px solid blue;
  box-shadow: 1px 2px 3px white;
  color: white;
  background-color: blue;
  opacity: 0.4;
}

.TodoDone p {
  text-decoration: line-through;
}

.Todo:hover {
  border: 1px solid yellow;
  box-shadow: 3px 8px 9px rgba(255, 255, 0, 0.25);
  color: yellow;
}

.Button {
  height: 20px;
  width: 20px;
  line-height: 10px; 
  border-radius: 50%;
  font-size: 0.7em;
  margin: 3px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.deleteButton {
  border: 1px solid red;
  color: red;
}

.doneButton {
  border: 1px solid greenyellow;
  color: greenyellow;
  
}

.infoButton {
  border: 1px solid white;
  color: white;
  font-weight: 600;
}

.Buttons {
  display: flex;
  margin: 6px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[contenteditable]:focus {
  color: green;
  font-size: 16px;
  font-weight: 600;
}

.Todo small{
  color: red; 
  font-weight: 500;
  margin: -10px 0 10px 0; 
}
